* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    align-content: center;
}

body {
    margin: 0;
    background-color: rgb(230, 230, 230); 
}

.bigFont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-width: 2;
}

/* nav bar section */
.navbar {
    background: #0da3c1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: right;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#user-name {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
    border-color:#c4c4c4f6;
}

.navbar__links1 {
    color: #0da3c1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links2 {
    color: #0da3c1;
    background-color: rgb(237, 236, 231);
    margin-top: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    font-size: 1.2rem;
    text-decoration: none;
    height: 60%;
    transition: all 0.3s ease;
    border-color: #0da3c1;
    border-radius: 10%;
}

.navbar__links3 {
    color: #0da3c1;
    background-color:  rgb(237, 236, 231);
    margin-top: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    font-size: 1.2rem;
    text-decoration: none;
    height:60%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.user__erea {
    display:flex;
    align-items: center;
    justify-content: right;
    width: 130%;
    height: 100%;
   
}

#user-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    padding-left: 3px;
}

/* home */
#home_div{
    margin-top: 0;
    position: relative;
}

#divPlace{
    margin: 30px auto 0 auto;
    align-items: center;
    width: 100%;
    position: relative;
}

.newPlaceDiv{
    margin: 30px auto 0 auto;
    align-items: center;
    width: 100%;
    position: absolute;
}

.hide {
    display: none;
  }


.searchForGet {
    text-align: center;
    margin: 30px auto 0 auto;
    align-items: center;
    width: 100%;
    position: absolute;
}

#nameGet,
#addressGet,
#cityGet,
#typeGetAll,
#areaGetAll {
    box-sizing: border-box;
    height: 40px;
    width: 270px;
    border-color: #503306;
    box-sizing: 5px;
    background-color: #c4c4c4f6;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    opacity: 0.7;
    transition-duration: 0.4s;
    content: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submitGet {
    height: 50px;
    width: 150px;
    border-color: #503306;
    box-sizing: 5px;
    box-sizing: border-box;
    color: rgb(193, 226, 226);
    background-color: #0da3c1;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submitGet:hover {
    background-color: rgb(100, 95, 95);
    color: blacke;
}

.searchForGetAll {
    text-align: center;
    margin: 140px auto 0 auto;
    align-items: center;
    width: 100%;
    position: absolute;
}

.tableGet{
    text-align: center;
    margin: 250px auto 0 auto;
    align-items: center;
    width: 100%;
    position: absolute;
}



table {
    padding: 20px 20px;
    margin: 40px auto;
    text-align: center;
    width: 75%;
}

thead th {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    background-color:#0da3c1;
    border-color: rgb(27, 117, 105);
    color: #FFF;
}

tr {
    background-color: #c4c4c4f6;
    border-bottom: 1px solid rgb(25, 99, 89);
    margin-bottom: 5px;
    text-align: center;
}

th,
td {
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: auto;
    font-size: 14px
}

/*form -add new place*/
.newPlaceDiv {
    text-align: center;
    margin: 250px auto 0 auto;
    align-items: center;
    width: 100%;
    position: absolute;

}

.newPlace {
    height: 400px;
    width: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin-top: 250px auto 0 auto;
    position: absolute;
}

#name,
#address,
#city,
#type,
#kashroot,
#area {
    box-sizing: border-box;
    height: 40px;
    width: 500px;
    border-color: #503306;
    box-sizing: 5px;
    background-color: #c4c4c4f6;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    opacity: 0.7;
    transition-duration: 0.4s;
    content: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#extra {
    box-sizing: border-box;
    border-color: #0da3c1;
    box-sizing: 5px;
    background-color: #c4c4c4f6;
    color:#0da3c1;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    opacity: 0.7;
    transition-duration: 0.4s;
    content: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#name,
#address,
#city,
#type,
#kashroot,
#area,
#extra,
#submit:hover {
    color: #0da3c1;
}

#submit {
    height: 50px;
    width: 500px;
    border-color: #0da3c1;
    box-sizing: 5px;
    box-sizing: border-box;
    color: rgb(193, 226, 226);
    background-color:#0da3c1;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submit:hover {
    background-color: rgb(100, 95, 95);
    color: blacke;
}


@media screen and (max-width:960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu .active {
        background: -moz-linear-gradient(to right, #e7fc45, #fd1d1d, #f11abf);
        background: linear-gradient(to right, #e7fc45, #fd1d1d, #f11abf);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        border-color:0da3c1;
        
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
}